.circle{

  height: 12vh;
  width: 12vh;
  /* color: lightblue; */
  background-color: lightblue;
  border-radius:100%;
  /* float: left; */
  margin: 4px;
  border: 2px solid black;

}



.playSpace{
  display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

/* .turnRed{
  color: red;
} */
